@import "templates/page.css";
@import "templates/single.css";
@import "templates/category.css";
@import "templates/header.css";
@import "templates/recentBlogs.css";
@import "templates/editorsPicks.css";
@import "templates/popCategories.css";
@import "templates/about.css";
@import "templates/privacy.css";
@import "templates/footer.css";

@font-face {
    font-family: 'Aku';
    src: url('fonts/Aku&Kamu.otf')
         format('opentype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
html {
    width: auto;
}
.loader  {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img {
    width: 80vw;
    display: inline-block;
    transform: translate3d(0);
    animation: bounce 0.7s infinite alternate;
}
@keyframes bounce {
    to {
        transform: translate3d(0, -16px, 0);
    }
}
main {
    transition: opacity 1s ease-in;
    opacity: 0;
    display: none;
}
hr {
    margin-top: 0;
    margin-bottom: 3.5rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.widget-banner {
    max-width: 1541px;
    margin: 0 auto 3.5rem;
    padding: 0 7%;
}

.adWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 14vh;
}
.adWrapper div {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}
.sectionHeader {
    padding: 0 7%;
    margin: 0 auto;
    max-width: 1541px;
}
.sectionHeader h2 {
    display: inline-block;
    font-family: 'Aku';
    letter-spacing: 7px;
    text-align: left;
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 1.25;
    color: #000000;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}
.sectionHeader i{
    vertical-align: baseline;
    font-size: 0.6em;
}
hr:last-of-type {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 380px) {
    .sectionHeader {
        display: flex !important;
        text-align: center !important;
        justify-content: center;
        align-items: center;
    }
    .sectionHeader h2 {
        font-size: 25px !important;
        margin-bottom: 25px !important;
    }
    .sectionHeader i{
        margin-bottom: 11px !important;
        font-size: 0.5em;
    }
}